In [6]:
#%pip install python-dotenv
#%pip install --upgrade ipython-sql prettytable
from dotenv import load_dotenv

load_dotenv()

True

In [7]:
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\vishnu priya\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\vishnu priya\anaconda3\lib\site-packages (3.14.0)
Requirement already satisfied: ipython in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\vishnu priya\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\vishnu priya\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vishnu priya\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\vishnu priya\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\vishnu priya\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\vishnu priya\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\vishnu priya\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\vishnu priya\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [8]:
import os
from urllib.parse import quote_plus

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST") 
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_DATABASE")

# Debugging: Print environment variables
print(f"DB_USER: {DB_USER}")
print(f"DB_NAME: {DB_NAME}")

encoded_password = quote_plus(DB_PASSWORD) # if pw conatins any special characters, it will replace that character with encoded value like '%40'
CONNECTION_STRING = f"mysql+pymysql://{DB_USER}:{encoded_password}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

%sql $CONNECTION_STRING

DB_USER: root
DB_NAME: retail_sales_analysis

In [9]:
# For displaying the output in table format:

import prettytable
from prettytable import TableStyle

# Set the default table style correctly
prettytable.__dict__["DEFAULT"] = TableStyle(prettytable.MSWORD_FRIENDLY)

C:\Users\Vishnu priya\AppData\Local\Temp\ipykernel_15168\1649485396.py:7: DeprecationWarning: the 'MSWORD_FRIENDLY' constant is deprecated, use the 'TableStyle' enum instead
  prettytable.__dict__["DEFAULT"] = TableStyle(prettytable.MSWORD_FRIENDLY)

In [10]:
%%sql
select * from retail_sales limit 10;

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
10 rows affected.

[(1, datetime.date(2022, 12, 16), datetime.timedelta(seconds=69000), 50, 'Male', 34, 'Beauty', 3, 50.0, 16.0, 150.0),
 (2, datetime.date(2022, 6, 24), datetime.timedelta(seconds=36420), 104, 'Female', 26, 'Clothing', 2, 500.0, 135.0, 1000.0),
 (3, datetime.date(2022, 6, 14), datetime.timedelta(seconds=25680), 114, 'Male', 50, 'Electronics', 1, 30.0, 8.1, 30.0),
 (4, datetime.date(2023, 8, 27), datetime.timedelta(seconds=65520), 3, 'Male', 37, 'Clothing', 1, 500.0, 200.0, 500.0),
 (5, datetime.date(2023, 9, 5), datetime.timedelta(seconds=79800), 3, 'Male', 30, 'Beauty', 2, 50.0, 24.0, 100.0),
 (6, datetime.date(2023, 11, 15), datetime.timedelta(seconds=80160), 2, 'Female', 45, 'Beauty', 1, 30.0, 15.0, 30.0),
 (7, datetime.date(2023, 7, 6), datetime.timedelta(seconds=23040), 38, 'Male', 46, 'Clothing', 2, 25.0, 13.25, 50.0),
 (8, datetime.date(2022, 12, 27), datetime.timedelta(seconds=40740), 148, 'Male', 30, 'Electronics', 4, 25.0, 11.0, 100.0),
 (9, datetime.date(2022, 12, 2), datetime.timedelta(seconds=47520), 85, 'Male', 63, 'Electronics', 2, 300.0, 78.0, 600.0),
 (10, datetime.date(2022, 10, 24), datetime.timedelta(seconds=82500), 81, 'Female', 52, 'Clothing', 4, 50.0, 62.5, 200.0)]

## Data cleaning

In [ ]:
%%sql

select * from retail_sales
where
sale_date is null or
customer_id is null or
gender is null or
age is null or
category is null or
quantiy is null or
price_per_unit is null or
cogs is null or
total_sale is null;

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
0 rows affected.

[]

## Data Exploration

In [ ]:
%%sql

--  How many sales we have?

select count(transactions_id) as total_sales from retail_sales;

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
1 rows affected.

[(1987,)]

In [ ]:
%%sql

--  How many customers we have?

select count(distinct customer_id) as total_sales from retail_sales;

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
1 rows affected.

[(155,)]

In [ ]:
%%sql

--  How many categories we have?

select distinct category from retail_sales;

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
3 rows affected.

[('Beauty',), ('Clothing',), ('Electronics',)]

## Data Analysis / Business key problems

In [ ]:
%%sql

-- Business Question 1 : what are the sales made on '2022-11-05'

select * from retail_sales where date(sale_date) = '2022-11-05'

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
11 rows affected.

[(180, datetime.date(2022, 11, 5), datetime.timedelta(seconds=38820), 117, 'Male', 41, 'Clothing', 3, 300.0, 129.0, 900.0),
 (214, datetime.date(2022, 11, 5), datetime.timedelta(seconds=59460), 53, 'Male', 20, 'Beauty', 2, 30.0, 8.1, 60.0),
 (240, datetime.date(2022, 11, 5), datetime.timedelta(seconds=42540), 95, 'Female', 23, 'Beauty', 1, 300.0, 123.0, 300.0),
 (856, datetime.date(2022, 11, 5), datetime.timedelta(seconds=63780), 102, 'Male', 54, 'Electronics', 4, 30.0, 9.3, 120.0),
 (943, datetime.date(2022, 11, 5), datetime.timedelta(seconds=70140), 90, 'Female', 57, 'Clothing', 4, 300.0, 318.0, 1200.0),
 (1137, datetime.date(2022, 11, 5), datetime.timedelta(seconds=81240), 104, 'Male', 46, 'Beauty', 2, 500.0, 145.0, 1000.0),
 (1256, datetime.date(2022, 11, 5), datetime.timedelta(seconds=35880), 29, 'Male', 23, 'Clothing', 2, 500.0, 190.0, 1000.0),
 (1265, datetime.date(2022, 11, 5), datetime.timedelta(seconds=52500), 86, 'Male', 55, 'Clothing', 3, 300.0, 111.0, 900.0),
 (1587, datetime.date(2022, 11, 5), datetime.timedelta(seconds=72360), 140, 'Female', 40, 'Beauty', 4, 300.0, 105.0, 1200.0),
 (1819, datetime.date(2022, 11, 5), datetime.timedelta(seconds=74640), 83, 'Female', 35, 'Beauty', 2, 50.0, 13.5, 100.0),
 (1896, datetime.date(2022, 11, 5), datetime.timedelta(seconds=73140), 87, 'Female', 30, 'Electronics', 2, 25.0, 30.75, 50.0)]

In [33]:
%%sql

-- Business Question 2 : Find all transactions where the category is 'Clothing' and the quantity sold is more than 4 in 
-- the month of Nov-2022

select *
from retail_sales
where category = "Clothing" and quantiy >= 4 and month(sale_date) = '11' and year(sale_date) = '2022'

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
17 rows affected.

[(64, datetime.date(2022, 11, 15), datetime.timedelta(seconds=23640), 7, 'Male', 49, 'Clothing', 4, 25.0, 8.5, 100.0),
 (146, datetime.date(2022, 11, 10), datetime.timedelta(seconds=79260), 74, 'Male', 38, 'Clothing', 4, 50.0, 49.0, 200.0),
 (159, datetime.date(2022, 11, 10), datetime.timedelta(seconds=77400), 42, 'Male', 26, 'Clothing', 4, 50.0, 23.5, 200.0),
 (284, datetime.date(2022, 11, 12), datetime.timedelta(seconds=33420), 129, 'Male', 43, 'Clothing', 4, 50.0, 20.5, 200.0),
 (547, datetime.date(2022, 11, 14), datetime.timedelta(seconds=27360), 3, 'Male', 63, 'Clothing', 4, 500.0, 250.0, 2000.0),
 (699, datetime.date(2022, 11, 21), datetime.timedelta(seconds=80460), 129, 'Female', 37, 'Clothing', 4, 30.0, 16.2, 120.0),
 (735, datetime.date(2022, 11, 26), datetime.timedelta(seconds=77880), 153, 'Female', 64, 'Clothing', 4, 500.0, 515.0, 2000.0),
 (943, datetime.date(2022, 11, 5), datetime.timedelta(seconds=70140), 90, 'Female', 57, 'Clothing', 4, 300.0, 318.0, 1200.0),
 (965, datetime.date(2022, 11, 27), datetime.timedelta(seconds=78300), 84, 'Male', 22, 'Clothing', 4, 50.0, 13.0, 200.0),
 (1259, datetime.date(2022, 11, 3), datetime.timedelta(seconds=63060), 105, 'Female', 45, 'Clothing', 4, 50.0, 21.0, 200.0),
 (1296, datetime.date(2022, 11, 26), datetime.timedelta(seconds=74520), 45, 'Female', 22, 'Clothing', 4, 300.0, 342.0, 1200.0),
 (1476, datetime.date(2022, 11, 11), datetime.timedelta(seconds=80820), 130, 'Female', 27, 'Clothing', 4, 500.0, 555.0, 2000.0),
 (1484, datetime.date(2022, 11, 23), datetime.timedelta(seconds=34140), 22, 'Female', 19, 'Clothing', 4, 300.0, 147.0, 1200.0),
 (1497, datetime.date(2022, 11, 19), datetime.timedelta(seconds=78240), 109, 'Male', 41, 'Clothing', 4, 30.0, 32.4, 120.0),
 (1615, datetime.date(2022, 11, 17), datetime.timedelta(seconds=49380), 82, 'Female', 61, 'Clothing', 4, 25.0, 13.5, 100.0),
 (1696, datetime.date(2022, 11, 21), datetime.timedelta(seconds=64740), 24, 'Female', 50, 'Clothing', 4, 50.0, 55.0, 200.0),
 (1885, datetime.date(2022, 11, 9), datetime.timedelta(seconds=27120), 148, 'Female', 52, 'Clothing', 4, 30.0, 10.8, 120.0)]

In [39]:
%%sql

-- Business question 3: Calculate the total sales and total orders made for each category

select category, 
sum(cast(total_sale as decimal)) as total_sales,
count(*) as total_orders
from retail_sales
group by category

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
3 rows affected.

[('Beauty', Decimal('286790'), 611),
 ('Clothing', Decimal('309995'), 698),
 ('Electronics', Decimal('311445'), 678)]

In [41]:
%%sql
-- Business problem 4 : What is the average age of customers who purchased items from the 'Beauty' category

select round(avg(age),2) as average_age
from retail_sales
where category = "Beauty"
group by category

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
1 rows affected.

[(Decimal('40.42'),)]

In [42]:
%%sql
-- Business problem 5 : Find all transactions where the total_sale is greater than 1000

select *
from retail_sales
where total_sale > 1000

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
306 rows affected.

[(13, datetime.date(2023, 2, 8), datetime.timedelta(seconds=63780), 106, 'Male', 22, 'Electronics', 3, 500.0, 245.0, 1500.0),
 (15, datetime.date(2022, 7, 1), datetime.timedelta(seconds=42600), 75, 'Female', 42, 'Electronics', 4, 500.0, 210.0, 2000.0),
 (16, datetime.date(2022, 6, 25), datetime.timedelta(seconds=37980), 82, 'Male', 19, 'Clothing', 3, 500.0, 180.0, 1500.0),
 (31, datetime.date(2023, 12, 31), datetime.timedelta(seconds=64020), 3, 'Male', 44, 'Electronics', 4, 300.0, 129.0, 1200.0),
 (46, datetime.date(2022, 11, 8), datetime.timedelta(seconds=64200), 54, 'Female', 20, 'Electronics', 4, 300.0, 84.0, 1200.0),
 (47, datetime.date(2022, 10, 22), datetime.timedelta(seconds=62520), 96, 'Female', 40, 'Beauty', 3, 500.0, 600.0, 1500.0),
 (54, datetime.date(2022, 10, 20), datetime.timedelta(seconds=37020), 142, 'Female', 38, 'Electronics', 3, 500.0, 200.0, 1500.0),
 (58, datetime.date(2023, 9, 16), datetime.timedelta(seconds=69480), 53, 'Male', 18, 'Clothing', 4, 300.0, 75.0, 1200.0),
 (65, datetime.date(2022, 12, 11), datetime.timedelta(seconds=72180), 84, 'Male', 51, 'Electronics', 4, 500.0, 160.0, 2000.0),
 (67, datetime.date(2023, 8, 19), datetime.timedelta(seconds=73140), 119, 'Female', 48, 'Beauty', 4, 300.0, 129.0, 1200.0),
 (72, datetime.date(2023, 12, 6), datetime.timedelta(seconds=69540), 5, 'Female', 20, 'Electronics', 4, 500.0, 195.0, 2000.0),
 (74, datetime.date(2023, 10, 5), datetime.timedelta(seconds=71400), 56, 'Female', 18, 'Beauty', 4, 500.0, 205.0, 2000.0),
 (78, datetime.date(2023, 2, 17), datetime.timedelta(seconds=76080), 68, 'Female', 47, 'Clothing', 3, 500.0, 265.0, 1500.0),
 (89, datetime.date(2023, 12, 30), datetime.timedelta(seconds=76500), 117, 'Female', 55, 'Electronics', 4, 500.0, 590.0, 2000.0),
 (93, datetime.date(2022, 1, 25), datetime.timedelta(seconds=75120), 148, 'Female', 35, 'Beauty', 4, 500.0, 140.0, 2000.0),
 (99, datetime.date(2023, 11, 19), datetime.timedelta(seconds=54720), 71, 'Female', 50, 'Electronics', 4, 300.0, 132.0, 1200.0),
 (107, datetime.date(2022, 10, 6), datetime.timedelta(seconds=33480), 75, 'Female', 21, 'Clothing', 4, 300.0, 78.0, 1200.0),
 (109, datetime.date(2023, 9, 6), datetime.timedelta(seconds=71820), 94, 'Female', 34, 'Electronics', 4, 500.0, 560.0, 2000.0),
 (111, datetime.date(2023, 4, 15), datetime.timedelta(seconds=35100), 5, 'Female', 34, 'Electronics', 3, 500.0, 130.0, 1500.0),
 (112, datetime.date(2023, 12, 25), datetime.timedelta(seconds=67440), 57, 'Male', 37, 'Clothing', 3, 500.0, 165.0, 1500.0),
 (115, datetime.date(2022, 9, 2), datetime.timedelta(seconds=69660), 67, 'Male', 51, 'Clothing', 3, 500.0, 255.0, 1500.0),
 (118, datetime.date(2023, 3, 13), datetime.timedelta(seconds=72420), 3, 'Female', 30, 'Electronics', 4, 500.0, 270.0, 2000.0),
 (124, datetime.date(2022, 12, 24), datetime.timedelta(seconds=76620), 83, 'Male', 33, 'Clothing', 4, 500.0, 515.0, 2000.0),
 (139, datetime.date(2023, 9, 15), datetime.timedelta(seconds=50580), 113, 'Male', 36, 'Beauty', 4, 500.0, 230.0, 2000.0),
 (142, datetime.date(2022, 4, 8), datetime.timedelta(seconds=36300), 61, 'Male', 35, 'Electronics', 4, 300.0, 138.0, 1200.0),
 (144, datetime.date(2022, 3, 26), datetime.timedelta(seconds=80280), 119, 'Female', 59, 'Beauty', 3, 500.0, 255.0, 1500.0),
 (152, datetime.date(2022, 6, 16), datetime.timedelta(seconds=43080), 120, 'Male', 43, 'Electronics', 4, 500.0, 210.0, 2000.0),
 (155, datetime.date(2023, 7, 18), datetime.timedelta(seconds=65100), 3, 'Male', 31, 'Electronics', 4, 500.0, 150.0, 2000.0),
 (157, datetime.date(2022, 5, 15), datetime.timedelta(seconds=79140), 98, 'Male', 62, 'Electronics', 4, 500.0, 170.0, 2000.0),
 (164, datetime.date(2023, 2, 28), datetime.timedelta(seconds=66360), 3, 'Female', 47, 'Beauty', 3, 500.0, 185.0, 1500.0),
 (165, datetime.date(2022, 9, 24), datetime.timedelta(seconds=68460), 75, 'Female', 60, 'Clothing', 4, 300.0, 318.0, 1200.0),
 (166, datetime.date(2023, 1, 28), datetime.timedelta(seconds=42120), 32, 'Male', 34, 'Clothing', 4, 500.0, 225.0, 2000.0),
 (169, datetime.date(2022, 11, 28), datetime.timedelta(seconds=67620), 73, 'Male', 18, 'Beauty', 3, 500.0, 145.0, 1500.0),
 (181, datetime.date(2023, 11, 6), datetime.timedelta(seconds=71940), 79, 'Male', 19, 'Electronics', 4, 300.0, 327.0, 1200.0),
 (193, datetime.date(2022, 3, 27), datetime.timedelta(seconds=38400), 55, 'Male', 35, 'Beauty', 3, 500.0, 180.0, 1500.0),
 (199, datetime.date(2023, 10, 26), datetime.timedelta(seconds=77640), 53, 'Male', 45, 'Beauty', 3, 500.0, 135.0, 1500.0),
 (202, datetime.date(2023, 1, 25), datetime.timedelta(seconds=23040), 61, 'Female', 34, 'Clothing', 4, 300.0, 120.0, 1200.0),
 (211, datetime.date(2022, 9, 12), datetime.timedelta(seconds=50520), 54, 'Male', 42, 'Beauty', 3, 500.0, 235.0, 1500.0),
 (212, datetime.date(2023, 10, 12), datetime.timedelta(seconds=65580), 105, 'Male', 21, 'Clothing', 3, 500.0, 215.0, 1500.0),
 (213, datetime.date(2023, 8, 13), datetime.timedelta(seconds=74880), 113, 'Male', 27, 'Beauty', 3, 500.0, 275.0, 1500.0),
 (215, datetime.date(2022, 10, 3), datetime.timedelta(seconds=76800), 101, 'Male', 58, 'Clothing', 3, 500.0, 145.0, 1500.0),
 (239, datetime.date(2022, 9, 19), datetime.timedelta(seconds=70440), 1, 'Male', 38, 'Electronics', 3, 500.0, 165.0, 1500.0),
 (253, datetime.date(2022, 9, 30), datetime.timedelta(seconds=77160), 66, 'Female', 53, 'Clothing', 4, 500.0, 525.0, 2000.0),
 (257, datetime.date(2022, 12, 10), datetime.timedelta(seconds=31740), 130, 'Male', 19, 'Beauty', 4, 500.0, 165.0, 2000.0),
 (269, datetime.date(2022, 9, 19), datetime.timedelta(seconds=41460), 87, 'Male', 25, 'Clothing', 4, 500.0, 250.0, 2000.0),
 (280, datetime.date(2023, 11, 17), datetime.timedelta(seconds=34500), 76, 'Female', 37, 'Clothing', 3, 500.0, 240.0, 1500.0),
 (281, datetime.date(2023, 9, 18), datetime.timedelta(seconds=72540), 4, 'Female', 29, 'Beauty', 4, 500.0, 275.0, 2000.0),
 (292, datetime.date(2022, 10, 10), datetime.timedelta(seconds=23580), 111, 'Male', 20, 'Beauty', 4, 300.0, 141.0, 1200.0),
 (296, datetime.date(2022, 12, 31), datetime.timedelta(seconds=81840), 73, 'Female', 22, 'Clothing', 4, 300.0, 369.0, 1200.0),
 (298, datetime.date(2023, 10, 5), datetime.timedelta(seconds=68700), 3, 'Male', 27, 'Beauty', 4, 300.0, 84.0, 1200.0),
 (308, datetime.date(2022, 3, 31), datetime.timedelta(seconds=69120), 130, 'Female', 34, 'Beauty', 4, 300.0, 126.0, 1200.0),
 (313, datetime.date(2023, 12, 16), datetime.timedelta(seconds=36180), 11, 'Female', 55, 'Beauty', 3, 500.0, 140.0, 1500.0),
 (320, datetime.date(2022, 4, 20), datetime.timedelta(seconds=30900), 57, 'Female', 28, 'Electronics', 4, 300.0, 159.0, 1200.0),
 (332, datetime.date(2023, 4, 24), datetime.timedelta(seconds=41280), 138, 'Male', 58, 'Electronics', 4, 300.0, 105.0, 1200.0),
 (333, datetime.date(2022, 10, 6), datetime.timedelta(seconds=29700), 21, 'Female', 54, 'Electronics', 4, 300.0, 99.0, 1200.0),
 (340, datetime.date(2023, 9, 19), datetime.timedelta(seconds=82740), 54, 'Female', 36, 'Clothing', 4, 300.0, 294.0, 1200.0),
 (342, datetime.date(2023, 11, 5), datetime.timedelta(seconds=62640), 85, 'Female', 43, 'Clothing', 4, 500.0, 500.0, 2000.0),
 (356, datetime.date(2023, 8, 27), datetime.timedelta(seconds=66900), 71, 'Male', 50, 'Electronics', 3, 500.0, 255.0, 1500.0),
 (361, datetime.date(2022, 9, 12), datetime.timedelta(seconds=59820), 112, 'Female', 34, 'Electronics', 4, 300.0, 81.0, 1200.0),
 (368, datetime.date(2023, 1, 31), datetime.timedelta(seconds=76260), 90, 'Female', 56, 'Clothing', 4, 300.0, 132.0, 1200.0),
 (369, datetime.date(2023, 12, 13), datetime.timedelta(seconds=70920), 111, 'Male', 23, 'Electronics', 3, 500.0, 215.0, 1500.0),
 (372, datetime.date(2022, 6, 19), datetime.timedelta(seconds=42300), 27, 'Female', 24, 'Beauty', 3, 500.0, 140.0, 1500.0),
 (385, datetime.date(2022, 11, 20), datetime.timedelta(seconds=68760), 127, 'Male', 50, 'Electronics', 3, 500.0, 525.0, 1500.0),
 (405, datetime.date(2022, 10, 17), datetime.timedelta(seconds=64500), 79, 'Female', 25, 'Clothing', 4, 300.0, 324.0, 1200.0),
 (412, datetime.date(2022, 9, 4), datetime.timedelta(seconds=70560), 30, 'Female', 19, 'Electronics', 4, 500.0, 570.0, 2000.0),
 (416, datetime.date(2022, 8, 21), datetime.timedelta(seconds=34140), 55, 'Male', 53, 'Electronics', 4, 500.0, 245.0, 2000.0),
 (420, datetime.date(2022, 1, 2), datetime.timedelta(seconds=39180), 28, 'Female', 22, 'Clothing', 4, 500.0, 200.0, 2000.0),
 (421, datetime.date(2022, 4, 8), datetime.timedelta(seconds=31380), 66, 'Female', 37, 'Clothing', 3, 500.0, 235.0, 1500.0),
 (424, datetime.date(2023, 12, 20), datetime.timedelta(seconds=69660), 101, 'Male', 57, 'Beauty', 4, 300.0, 147.0, 1200.0),
 (431, datetime.date(2022, 10, 29), datetime.timedelta(seconds=79320), 99, 'Male', 63, 'Electronics', 4, 300.0, 345.0, 1200.0),
 (437, datetime.date(2023, 11, 26), datetime.timedelta(seconds=67980), 56, 'Female', 35, 'Electronics', 4, 300.0, 345.0, 1200.0),
 (441, datetime.date(2023, 11, 6), datetime.timedelta(seconds=79200), 85, 'Male', 57, 'Beauty', 4, 300.0, 351.0, 1200.0),
 (447, datetime.date(2023, 4, 18), datetime.timedelta(seconds=64620), 37, 'Male', 22, 'Beauty', 4, 500.0, 245.0, 2000.0),
 (452, datetime.date(2023, 1, 30), datetime.timedelta(seconds=81660), 4, 'Female', 48, 'Clothing', 3, 500.0, 240.0, 1500.0),
 (459, datetime.date(2023, 5, 23), datetime.timedelta(seconds=25920), 122, 'Male', 28, 'Clothing', 4, 300.0, 75.0, 1200.0),
 (462, datetime.date(2023, 8, 26), datetime.timedelta(seconds=36240), 71, 'Male', 63, 'Electronics', 4, 300.0, 132.0, 1200.0),
 (463, datetime.date(2023, 1, 29), datetime.timedelta(seconds=73320), 55, 'Female', 54, 'Beauty', 3, 500.0, 175.0, 1500.0),
 (474, datetime.date(2022, 5, 8), datetime.timedelta(seconds=64620), 145, 'Female', 26, 'Clothing', 3, 500.0, 210.0, 1500.0),
 (476, datetime.date(2023, 12, 12), datetime.timedelta(seconds=66660), 131, 'Female', 27, 'Clothing', 4, 500.0, 570.0, 2000.0),
 (479, datetime.date(2022, 11, 3), datetime.timedelta(seconds=77700), 90, 'Male', 52, 'Electronics', 4, 300.0, 105.0, 1200.0),
 (480, datetime.date(2022, 12, 22), datetime.timedelta(seconds=79920), 126, 'Female', 42, 'Beauty', 4, 500.0, 225.0, 2000.0),
 (481, datetime.date(2023, 7, 13), datetime.timedelta(seconds=61920), 48, 'Female', 43, 'Electronics', 4, 300.0, 114.0, 1200.0),
 (482, datetime.date(2023, 8, 12), datetime.timedelta(seconds=68220), 3, 'Female', 28, 'Clothing', 4, 300.0, 141.0, 1200.0),
 (484, datetime.date(2022, 3, 13), datetime.timedelta(seconds=28320), 135, 'Female', 19, 'Clothing', 4, 300.0, 75.0, 1200.0),
 (487, datetime.date(2023, 4, 9), datetime.timedelta(seconds=75780), 36, 'Male', 44, 'Clothing', 4, 500.0, 235.0, 2000.0),
 (503, datetime.date(2023, 10, 8), datetime.timedelta(seconds=72360), 63, 'Male', 45, 'Beauty', 4, 500.0, 570.0, 2000.0),
 (506, datetime.date(2022, 4, 29), datetime.timedelta(seconds=25980), 9, 'Male', 34, 'Beauty', 3, 500.0, 200.0, 1500.0),
 (507, datetime.date(2022, 12, 11), datetime.timedelta(seconds=78000), 52, 'Female', 37, 'Electronics', 3, 500.0, 485.0, 1500.0),
 (522, datetime.date(2022, 7, 9), datetime.timedelta(seconds=39600), 52, 'Male', 46, 'Beauty', 3, 500.0, 145.0, 1500.0),
 (524, datetime.date(2023, 9, 17), datetime.timedelta(seconds=71520), 12, 'Male', 46, 'Beauty', 4, 300.0, 297.0, 1200.0),
 (533, datetime.date(2022, 11, 13), datetime.timedelta(seconds=62340), 92, 'Male', 19, 'Electronics', 3, 500.0, 155.0, 1500.0),
 (547, datetime.date(2022, 11, 14), datetime.timedelta(seconds=27360), 3, 'Male', 63, 'Clothing', 4, 500.0, 250.0, 2000.0),
 (553, datetime.date(2023, 3, 20), datetime.timedelta(seconds=22620), 106, 'Male', 24, 'Clothing', 4, 300.0, 81.0, 1200.0),
 (559, datetime.date(2022, 12, 12), datetime.timedelta(seconds=38880), 5, 'Female', 40, 'Clothing', 4, 300.0, 84.0, 1200.0),
 (561, datetime.date(2022, 7, 29), datetime.timedelta(seconds=61440), 34, 'Female', 64, 'Clothing', 4, 500.0, 250.0, 2000.0),
 (572, datetime.date(2023, 12, 13), datetime.timedelta(seconds=66780), 5, 'Male', 31, 'Clothing', 4, 500.0, 185.0, 2000.0),
 (577, datetime.date(2022, 4, 21), datetime.timedelta(seconds=42900), 45, 'Male', 21, 'Beauty', 4, 500.0, 215.0, 2000.0),
 (580, datetime.date(2022, 11, 14), datetime.timedelta(seconds=53040), 104, 'Female', 31, 'Clothing', 3, 500.0, 200.0, 1500.0),
 (587, datetime.date(2023, 9, 4), datetime.timedelta(seconds=68400), 91, 'Female', 40, 'Beauty', 4, 300.0, 99.0, 1200.0),
 (592, datetime.date(2022, 12, 26), datetime.timedelta(seconds=33300), 77, 'Female', 46, 'Beauty', 4, 500.0, 275.0, 2000.0),
 (595, datetime.date(2022, 10, 15), datetime.timedelta(seconds=77700), 65, 'Female', 18, 'Clothing', 4, 500.0, 210.0, 2000.0),
 (597, datetime.date(2022, 11, 1), datetime.timedelta(seconds=70140), 84, 'Male', 22, 'Beauty', 4, 300.0, 111.0, 1200.0),
 (608, datetime.date(2022, 12, 7), datetime.timedelta(seconds=80340), 112, 'Female', 55, 'Electronics', 3, 500.0, 200.0, 1500.0),
 (611, datetime.date(2022, 7, 21), datetime.timedelta(seconds=29580), 11, 'Male', 51, 'Beauty', 3, 500.0, 180.0, 1500.0),
 (614, datetime.date(2023, 2, 13), datetime.timedelta(seconds=23280), 61, 'Female', 39, 'Beauty', 4, 300.0, 120.0, 1200.0),
 (626, datetime.date(2022, 10, 30), datetime.timedelta(seconds=75660), 65, 'Female', 26, 'Clothing', 4, 500.0, 555.0, 2000.0),
 (634, datetime.date(2022, 10, 10), datetime.timedelta(seconds=69900), 68, 'Male', 60, 'Electronics', 4, 500.0, 535.0, 2000.0),
 (636, datetime.date(2023, 5, 9), datetime.timedelta(seconds=22500), 60, 'Female', 21, 'Beauty', 3, 500.0, 230.0, 1500.0),
 (647, datetime.date(2023, 3, 1), datetime.timedelta(seconds=71580), 5, 'Male', 59, 'Clothing', 3, 500.0, 190.0, 1500.0),
 (648, datetime.date(2023, 2, 23), datetime.timedelta(seconds=65580), 41, 'Male', 53, 'Beauty', 4, 300.0, 138.0, 1200.0),
 (663, datetime.date(2023, 8, 16), datetime.timedelta(seconds=23520), 133, 'Male', 23, 'Clothing', 4, 300.0, 87.0, 1200.0),
 (664, datetime.date(2022, 9, 3), datetime.timedelta(seconds=60720), 109, 'Female', 44, 'Clothing', 4, 500.0, 170.0, 2000.0),
 (669, datetime.date(2022, 1, 23), datetime.timedelta(seconds=73440), 110, 'Male', 24, 'Beauty', 4, 300.0, 87.0, 1200.0),
 (673, datetime.date(2022, 7, 4), datetime.timedelta(seconds=36840), 18, 'Female', 43, 'Clothing', 3, 500.0, 270.0, 1500.0),
 (676, datetime.date(2023, 7, 10), datetime.timedelta(seconds=79980), 80, 'Male', 63, 'Electronics', 3, 500.0, 205.0, 1500.0),
 (677, datetime.date(2022, 12, 17), datetime.timedelta(seconds=76380), 65, 'Female', 19, 'Beauty', 3, 500.0, 555.0, 1500.0),
 (682, datetime.date(2023, 10, 23), datetime.timedelta(seconds=75060), 60, 'Male', 46, 'Beauty', 4, 300.0, 354.0, 1200.0),
 (693, datetime.date(2023, 6, 8), datetime.timedelta(seconds=61920), 1, 'Male', 41, 'Beauty', 3, 500.0, 270.0, 1500.0),
 (700, datetime.date(2022, 9, 1), datetime.timedelta(seconds=54420), 61, 'Male', 36, 'Electronics', 4, 500.0, 250.0, 2000.0),
 (710, datetime.date(2022, 9, 3), datetime.timedelta(seconds=76260), 71, 'Female', 26, 'Electronics', 3, 500.0, 495.0, 1500.0),
 (711, datetime.date(2023, 9, 23), datetime.timedelta(seconds=80760), 103, 'Male', 26, 'Electronics', 3, 500.0, 575.0, 1500.0),
 (716, datetime.date(2023, 8, 13), datetime.timedelta(seconds=71460), 137, 'Female', 60, 'Clothing', 4, 300.0, 108.0, 1200.0),
 (720, datetime.date(2022, 4, 8), datetime.timedelta(seconds=31800), 116, 'Female', 56, 'Beauty', 3, 500.0, 235.0, 1500.0),
 (726, datetime.date(2022, 6, 5), datetime.timedelta(seconds=70620), 72, 'Male', 47, 'Clothing', 4, 300.0, 126.0, 1200.0),
 (729, datetime.date(2023, 8, 26), datetime.timedelta(seconds=80940), 3, 'Male', 29, 'Clothing', 4, 300.0, 84.0, 1200.0),
 (731, datetime.date(2023, 9, 30), datetime.timedelta(seconds=67740), 1, 'Male', 54, 'Clothing', 4, 500.0, 165.0, 2000.0),
 (735, datetime.date(2022, 11, 26), datetime.timedelta(seconds=77880), 153, 'Female', 64, 'Clothing', 4, 500.0, 515.0, 2000.0),
 (742, datetime.date(2022, 3, 19), datetime.timedelta(seconds=22080), 37, 'Female', 38, 'Electronics', 4, 500.0, 195.0, 2000.0),
 (743, datetime.date(2022, 8, 7), datetime.timedelta(seconds=28440), 55, 'Female', 34, 'Beauty', 4, 500.0, 260.0, 2000.0),
 (756, datetime.date(2023, 7, 17), datetime.timedelta(seconds=73980), 4, 'Female', 62, 'Electronics', 4, 300.0, 333.0, 1200.0),
 (757, datetime.date(2023, 10, 6), datetime.timedelta(seconds=43800), 82, 'Female', 43, 'Electronics', 4, 300.0, 105.0, 1200.0),
 (773, datetime.date(2023, 1, 14), datetime.timedelta(seconds=69000), 3, 'Male', 25, 'Electronics', 4, 500.0, 175.0, 2000.0),
 (789, datetime.date(2023, 12, 6), datetime.timedelta(seconds=79980), 34, 'Female', 61, 'Clothing', 4, 500.0, 510.0, 2000.0),
 (800, datetime.date(2022, 9, 19), datetime.timedelta(seconds=27180), 111, 'Male', 32, 'Clothing', 4, 300.0, 87.0, 1200.0),
 (805, datetime.date(2022, 9, 3), datetime.timedelta(seconds=50100), 59, 'Female', 30, 'Beauty', 3, 500.0, 155.0, 1500.0),
 (808, datetime.date(2023, 11, 22), datetime.timedelta(seconds=26280), 30, 'Male', 33, 'Beauty', 4, 500.0, 195.0, 2000.0),
 (828, datetime.date(2022, 11, 24), datetime.timedelta(seconds=57240), 76, 'Female', 33, 'Electronics', 4, 300.0, 132.0, 1200.0),
 (832, datetime.date(2022, 11, 13), datetime.timedelta(seconds=62700), 106, 'Male', 47, 'Beauty', 4, 500.0, 600.0, 2000.0),
 (839, datetime.date(2023, 11, 11), datetime.timedelta(seconds=75720), 130, 'Female', 20, 'Electronics', 4, 300.0, 96.0, 1200.0),
 (843, datetime.date(2023, 1, 25), datetime.timedelta(seconds=81960), 3, 'Male', 21, 'Beauty', 3, 500.0, 180.0, 1500.0),
 (847, datetime.date(2023, 1, 10), datetime.timedelta(seconds=31320), 2, 'Female', 18, 'Electronics', 4, 300.0, 162.0, 1200.0),
 (859, datetime.date(2022, 9, 20), datetime.timedelta(seconds=78720), 46, 'Female', 56, 'Electronics', 3, 500.0, 190.0, 1500.0),
 (862, datetime.date(2022, 12, 11), datetime.timedelta(seconds=77820), 29, 'Male', 28, 'Electronics', 4, 300.0, 78.0, 1200.0),
 (869, datetime.date(2022, 9, 8), datetime.timedelta(seconds=80160), 51, 'Male', 37, 'Beauty', 3, 500.0, 485.0, 1500.0),
 (875, datetime.date(2023, 11, 30), datetime.timedelta(seconds=78420), 134, 'Female', 51, 'Electronics', 4, 500.0, 135.0, 2000.0),
 (908, datetime.date(2022, 10, 30), datetime.timedelta(seconds=53220), 64, 'Male', 46, 'Beauty', 4, 300.0, 81.0, 1200.0),
 (927, datetime.date(2022, 2, 21), datetime.timedelta(seconds=61980), 83, 'Male', 43, 'Electronics', 4, 500.0, 250.0, 2000.0),
 (928, datetime.date(2023, 11, 5), datetime.timedelta(seconds=37200), 54, 'Female', 35, 'Clothing', 4, 300.0, 90.0, 1200.0),
 (942, datetime.date(2023, 12, 1), datetime.timedelta(seconds=33720), 35, 'Male', 51, 'Clothing', 3, 500.0, 160.0, 1500.0),
 (943, datetime.date(2022, 11, 5), datetime.timedelta(seconds=70140), 90, 'Female', 57, 'Clothing', 4, 300.0, 318.0, 1200.0),
 (946, datetime.date(2023, 8, 8), datetime.timedelta(seconds=72900), 2, 'Male', 62, 'Electronics', 4, 500.0, 235.0, 2000.0),
 (956, datetime.date(2023, 4, 24), datetime.timedelta(seconds=78600), 140, 'Male', 30, 'Clothing', 3, 500.0, 135.0, 1500.0),
 (970, datetime.date(2023, 5, 25), datetime.timedelta(seconds=65580), 2, 'Male', 59, 'Electronics', 4, 500.0, 220.0, 2000.0),
 (1013, datetime.date(2022, 7, 16), datetime.timedelta(seconds=70680), 111, 'Male', 22, 'Electronics', 3, 500.0, 200.0, 1500.0),
 (1015, datetime.date(2022, 3, 9), datetime.timedelta(seconds=42780), 94, 'Female', 42, 'Electronics', 4, 500.0, 200.0, 2000.0),
 (1016, datetime.date(2022, 12, 12), datetime.timedelta(seconds=27540), 52, 'Male', 19, 'Clothing', 3, 500.0, 200.0, 1500.0),
 (1031, datetime.date(2023, 11, 12), datetime.timedelta(seconds=76500), 3, 'Male', 44, 'Electronics', 4, 300.0, 126.0, 1200.0),
 (1046, datetime.date(2023, 7, 21), datetime.timedelta(seconds=78420), 5, 'Female', 20, 'Electronics', 4, 300.0, 156.0, 1200.0),
 (1047, datetime.date(2022, 12, 4), datetime.timedelta(seconds=78780), 84, 'Female', 40, 'Beauty', 3, 500.0, 490.0, 1500.0),

In [44]:
%%sql
-- Business problem 6 : Fins the total number of transactions made by each gender in each category

select category, gender,count(transactions_id) as total_transactions
from retail_sales
group by gender,category
order by 1

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
6 rows affected.

[('Beauty', 'Male', 281),
 ('Beauty', 'Female', 330),
 ('Clothing', 'Female', 347),
 ('Clothing', 'Male', 351),
 ('Electronics', 'Male', 343),
 ('Electronics', 'Female', 335)]

In [ ]:
%%sql

-- Business problem 7: what is the average sale for each month. Find out the best selling month in each year

select year,
       month,
       avg_sale
from (
        select year(sale_date) as Year,
            month(sale_date) as Month,
            round(avg(total_sale),2) as avg_sale,
            rank() over(partition by year(sale_date) order by avg(total_sale) desc) as ranks
        from retail_sales
        group by month(sale_date), year(sale_date)
) as t1
where ranks = 1

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
2 rows affected.

[(2022, 7, 541.34), (2023, 2, 535.53)]

In [70]:
%%sql

-- Business problem 8 : Find the top 5 customers based on the highest total sales

select customer_id, sum(total_sale) as total_sales
from retail_sales
group by customer_id
order by total_sales desc limit 5

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
5 rows affected.

[(3, 38440.0), (1, 30750.0), (5, 30405.0), (2, 25295.0), (4, 23580.0)]

In [71]:
%%sql

-- Business problem 9: Find the number of unique customers who purchased items from each category

select category,
       count(distinct customer_id) as Unique_customers
from retail_sales
group by category

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
3 rows affected.

[('Beauty', 141), ('Clothing', 149), ('Electronics', 144)]

In [77]:
%%sql

-- Business problem 10 : Create shifts and number of orders (example : morning <=12, afternoon between 12&17, evening >17)

-- creating a cte to create a column called shifts
with hourly_sale as( 
                    select *,
                    case 
                        when hour(sale_time) <= 12 then 'Morning'
                        when hour(sale_time) between 12 and 17 then 'Afternoon'
                        when hour(sale_time) > 17 then 'Evening'
                    end as shifts
                    from retail_sales 
                )
select shifts,count(transactions_id) as total_orders
from retail_sales
group by shifts

 * mysql+pymysql://root:***@localhost:3306/retail_sales_analysis
(pymysql.err.OperationalError) (1054, "Unknown column 'shifts' in 'field list'")
[SQL: -- Business problem 10 : Create shifts and number of orders (example : morning <=12, afternoon between 12&17, evening >17)

-- creating a cte to create a column called shifts
with hourly_sale as(
                    select *,
                    case
                        when hour(sale_time) <= 12 then 'Morning'
                        when hour(sale_time) between 12 and 17 then 'Afternoon'
                        when hour(sale_time) > 17 then 'Evening'
                    end as shifts
                    from retail_sales
                )
select shifts,count(transactions_id) as total_orders
from retail_sales
group by shifts]
(Background on this error at: https://sqlalche.me/e/20/e3q8)